pre.sh_sourceCode {
  padding: 5px;
  background: #eaeaea;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-family: monospace;
  border: 1px solid #6c90fc;
  overflow: auto;
  margin-left: 10px;
  line-height: 140%
}

pre {
white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
white-space: -pre-wrap; /* Opera 4 - 6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
word-wrap: break-word; /* IE 5.5+ */
}

.sh_number { color: #b4b46c; }                             /* literal numbers */

pre.sh_sourceCode .sh_keyword1 { color: #0000fc; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_keyword2 { color: #009000; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_keyword3 { color: #fc0000; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_keyword4 { color: #fcb400; font-weight: bold; }           /* language keywords */
pre.sh_sourceCode .sh_type { color: #004800; }                            /* basic types */
pre.sh_sourceCode .sh_usertype { color: #009090; }                             /* user defined types */
pre.sh_sourceCode .sh_string { color: #d8b400; font-family: monospace; }        /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: #fcb400; font-family: monospace; }     /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: #fc6cb4; font-family: monospace; }  /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color: #909090; font-style: italic; }         /* comments */
pre.sh_sourceCode .sh_number { color: #0000b4; }                             /* literal numbers */
pre.sh_sourceCode .sh_preproc { color: #24b4fc; font-weight: bold; }       /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { color: #909090; }                            /* e.g., <, >, + */
pre.sh_sourceCode .sh_function { color: #000000; font-weight: bold; }         /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { color: #fc0000; }                              /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: #00fcfc; }   /* TODO and FIXME */

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: #0000b4; }
pre.sh_sourceCode .sh_predef_func { color: #0000b4; font-weight: bold; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: #009090; }

/* line numbers (not yet implemented) */
pre.sh_sourceCode .sh_linenum { color: #000000; font-family: monospace; }

/* Internet related */
pre.sh_sourceCode .sh_url { color: #0000fc; text-decoration: underline; font-family: monospace; }

/* for ChangeLog and Log files */
pre.sh_sourceCode .sh_date { color: #0000fc; font-weight: bold; }
pre.sh_sourceCode .sh_time, pre.sh_sourceCode .sh_file { color: #0000b4; font-weight: bold; }
pre.sh_sourceCode .sh_ip, pre.sh_sourceCode .sh_name { color: #004800; }

/* for Prolog, Perl... */
pre.sh_sourceCode .sh_variable { color: #004800; }

/* for LaTeX */
pre.sh_sourceCode .sh_italics { color: #004800; font-style: italic; }
pre.sh_sourceCode .sh_bold { color: #004800; font-weight: bold; }
pre.sh_sourceCode .sh_underline { color: #004800; text-decoration: underline; }
pre.sh_sourceCode .sh_fixed { color: #009000; font-family: monospace; }
pre.sh_sourceCode .sh_argument { color: #004800; }
pre.sh_sourceCode .sh_optionalargument { color: #9024fc; }
pre.sh_sourceCode .sh_math { color: #fcb400; }
pre.sh_sourceCode .sh_bibtex { color: #0000fc; }

/* for diffs */
pre.sh_sourceCode .sh_oldfile { color: #fcb400; }
pre.sh_sourceCode .sh_newfile { color: #004800; }
pre.sh_sourceCode .sh_difflines { color: #0000fc; }

/* for css */
pre.sh_sourceCode .sh_selector { color: #9024fc; }
pre.sh_sourceCode .sh_property { color: #0000fc; }
pre.sh_sourceCode .sh_value { color: #004800; font-style: italic; }

/* other */
pre.sh_sourceCode .sh_section { color: #000000; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color: #fc0000; }
pre.sh_sourceCode .sh_attribute { color: #004800; }
